@model Blogs 



<div class="row text-center">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
            <img class="card-img-top" src=" @Model.ImageUrl" alt="Design">
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4>

            </div>
            <div class="card-footer py-4">
                <a asp-controller="Blogs" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">More Details &raquo;</a>
            </div>
        </div>
    </div>
</div>

